
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

.flex-body {
    height: 50vh;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    
.welcome-text {
    padding: 15px;
    color: rgb(22, 174, 212);
    text-shadow: 0 0 12px grey;
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
}
