
.flex-post {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(11, 12, 12);
    background: white;
    border: 5px solid #dedede;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 500px;
    padding: 30px 50px; 
}

.post-body {
    border: 5px solid #dedede;
    padding: 30px 50px; 
}

button {
    font-size: 14px;
    padding: 5px;
    line-height: 1;
    display:inline-block;
    background: #a6a6bd;
    cursor: pointer;
    font-size: 14px;
    outline: 0;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
   
    
}



